/*! Float in Css */

/* The `float` property in Css is used to control the positioning of elements on a web page.
When you apply `float` to an element, it "floats" to the left or right of its container,
allowing other elements to wrap around it. This is commonly used to create
multi-column layouts, float images next to text, or achieve other design effects. */

/* Typical values of the `float` property are: */

/* 1. **`left`:** The element will float to the left of its container, allowing other elements
wrap themselves to your right. */

img {
    float: left;
 }

 /* 2. **`right`:** The element will float to the right of its container, allowing other elements
 wrap around to your left. */

 div {
    float: right;
 }

 /* It is important to note that when `float` is applied to elements, effects can occur
 secondary in the design of the page. For example, elements that follow a floating element
 They can be moved up and aligned to the left or right of the floating element. To avoid
 this unwanted behavior, other techniques are often used, such as the `clear` property to
 restore the normal flow of elements after floating elements. */

 /* The `float` property has been widely used in the past to create column layouts and
 position elements specifically on a web page. However, with the appearance of
 CSS Grid and Flexbox have become more powerful and flexible options for web page design.
 In many cases, it is recommended to use Grid or Flexbox instead of `float`, especially for layouts
 more complex and modern. */
