/*! Margin in Css */

/* The `margin` property in Css is used to control the space around an Html element. In
In other words, it defines the space between the element and surrounding elements, such as other elements in
the page or the edges of the containing container. You can apply the `margin` property to a variety
of Html elements, such as divs, paragraphs, images, headers and more. */

/* The `margin` property can be set in several ways: */

/* 1. **Single value:** When a single value is set, the same margin space is applied to all
the sides of the element. For example: */

div {
    margin: 10px; /* 10 pixel margin on all sides */
 }

 /* 2. **Two values:** You can define two values for the `margin`, one for the horizontal margin
 (left and right) and another for the vertical margin (top and bottom). For example: */

 div {
    margin: 10px 20px; /* 10 pixels top and bottom, 20 pixels left and right */
 }

 /* 3. **Four values:** You can define four values for the `margin`, one for each side in the
 following order: up, right, down, left. For example: */

 div {
    margin: 10px 20px 15px 25px; /* 10px top, 20px right, 15px bottom, 25px left */
 }

 /* The `margin` property is essential for web design and allows you to control the space between the
 elements on your page. You can use values in pixels, em, percentages or other units of measurement
 to adjust the margin according to your design needs. The margin is useful for creating spaces between
 elements, align elements on the page and achieve the desired layout. */