/*! Outline in Css */

/* The `outline` property in Css is used to create an outline around an HTML element, such as a
link, button or other interactive element. Often used to highlight an element when
receives the user's focus, for example, when clicking on a link or browsing a
form using the "tab" key. The `outline` property is similar to `border`, but does not affect
the design or size of the element. */

/* The basic syntax of the `outline` property is as follows: */

selector{
    outline: color style width;
}

 /*
 - `width`: Defines the width of the outline, which can be in pixels, em, rem or other measurement units.
 - `style`: Defines the style of the outline, such as "dotted", "solid", "dashed", etc.
 - `color`: Defines the color of the outline.
 */

/* Examples of use of `outline` */

a:focus {
    outline: 2px solid blue; /* 2 pixel wide outline, solid style, blue on focus */
}

button:hover {
    outline: 1px dotted red; /* 1 pixel wide outline, dotted style, red on hover */
}

 /* It is common to use `outline` on elements that can receive the user's focus, such as links, buttons
 and input fields, to visually indicate which element is selected or active. It is also
 It is important that the `outline` property be accessible to users with disabilities, so
 can be customized to meet web accessibility guidelines. */