/*! Padding in Css */

/* `padding` in Css is used to define the internal space between the content of an HTML element
and its edge. In other words, it controls the separation between an element's content and its border.
abroad. You can apply padding to HTML elements like divs, paragraphs, headers, and more. The property
`padding` can be configured in several ways: */

/* 1. **Single value:** When a single value is set, the same padding is applied to all
the sides of the element. For example: */

div{
    padding: 20px; /* 20 pixels of padding on all sides */
}

/* 2. **Two values:** You can define two values for the `padding`, one for the horizontal padding
(left and right) and another for vertical filling (top and bottom). For example: */

div{
    padding: 10px 20px; /* 10 pixels top and bottom, 20 pixels left and right */
}

/* 3. **Four values:** You can define four values for the `padding`, one for each side in the
following order: up, right, down, left. For example: */

div{
    padding: 10px 20px 15px 25px; /* 10px top, 20px right, 15px bottom, 25px left */
}

/* `padding` is useful for providing space around the content of an element and is especially
important when working with elements that have a background or border, as it helps control
the separation between the content and the edges. You can use values in pixels, em, percentages or
other units of measurement to adjust the filling space according to your design needs. */
