/*! PseudoClasses in Css */

/* In Css, pseudoclasses are an important part of the syntax that allows you to select elements
Html based on its state or position on the page. Pseudoclasses are used to apply styles
specific to elements that cannot be selected directly with simple selectors based on
labels. Some of the most common pseudoclasses include. */

/* 1. `:hover`: This pseudo class is used to select an element when the mouse cursor is
about him. It is commonly used to apply styles to links when the user hovers over them.
they. */

a:hover {
    color: red;
 }

 /* 2. `:active`: This pseudo-class selects an element while it is active, usually
 when the user clicks on it. It is useful for giving visual feedback to interactive elements,
 like buttons. */

 button:active {
    background-color: green;
 }

/* 3. `:focus`: Selects an element that has the user's focus, such as an input field
text. It is useful for changing the appearance of focused elements, especially on forms. */

 input:focus {
    border-color: blue;
 }

/* 4. `:nth-child()`: This pseudo class allows you to select specific elements based on their
position in relation to his brothers. You can specify a number or formula to select
specific elements. */

li:nth-child(odd){
    background-color: lightgray;
}

 /* 5. `:not()`: The `:not()` pseudoclass allows selecting elements that do not match a selector
 specific. This is useful for applying styles to all but a few elements. */

p:not(.special){
    font-style: italic;
}

/* 6. `:first-child` and `:last-child`: These pseudo-classes select the first and last child elements
of a parent element, respectively. */

 ul > li:first-child{
    font-weight: bold;
}

ul > li:last-child{
    font-weight: bold;
}

/* 7. `:nth-of-type()`: Similar to `:nth-child()`, but based on the element's type instead of its
position. You can select items of a specific type based on their position. */

div p:nth-of-type(even){
    background-color: lightyellow;
 }

 /* These are just some of the most common pseudoclasses in CSS. Pseudo classes allow you to control and
 customize the appearance of HTML elements based on various criteria, which improves
 interactivity and usability of your website. */