/*Selectores en Css*/

/*Selector Global*/
* {
	margin: 0px;
}

/*Selector de Elemento*/
main {
	color: red;
}

/*Selector de Clases*/
.main {
	font: arial;
}

/*Selector de Id*/
#main-id {
	text-align: center;
}

/*Selector de Atributos*/
[atributo]{
	padding: 10px;
}

/*Selector de Descendiente*/
h1 p {
	background-color: whitesmoke;
}

/*Selector de Pseudoclases*/
link:hover{
	color: whitesmoke;
}