/*Css*/

/*Sintaxis Basica*/

selector{
    margin: 0px;
    padding: 10px;
}


/*Tener que estilizar un elemento dentro de un elemento*/

.select{
    margin: 10px;
    padding: 10px;
}

/*Comentarios en Css*/

/*Esto es un Comentario de una Sola Linea*/

/*
Esto
es un
Comentario de Varia Linea
*/
