/*Css*/

/*Basic Syntax*/

selector {
    margin: 0px;
    padding: 10px;
}


/*Having to style an element within an element*/

.select {
    margin: 10px;
    padding: 10px;
}

/*Comments in CSS*/

/*This is a Single Line Comment*/

/*
This
it's a
Comment from Varia Linea
*/