/*Unidades en Css*/

/*Unidades Absoluta en Css*/

/*Pixeles*/
h2{
	font-size: 50px;
}

/*Centimetros*/
h2{
	font-size: 50cm;
}


h2{
	font-size: 0ch;
}

/*Puntos*/
h2{
	font-size: 50pt;
}

/*Unidades Relativas en Css*/

h2{
	font-size: 50rem;
}

h2{
	font-size: 50em;
}

h2{
	font-size: 50%;
}