/*Units in CSS*/

/*Absolute Units in CSS*/

/*Pixels*/
h2 {
	font-size: 50px;
}

/*Centimeters*/
h2 {
	font-size: 50cm;
}

/*Broad*/
h2 {
	font-size: 0ch;
}

/*Points*/
h2 {
	font-size: 50pt;
}

/*Relative Units in CSS*/

/*Rem*/
h2 {
	font-size: 50rem;
}

/*Em*/
h2 {
	font-size: 50em;
}

/*Percent*/
h2 {
	font-size: 50%;
}