/*! Variables in Css*/

/*Local Variable*/

.selector{
    --variable-name: value;
    --variable-name: value;
    background-color: var(--variable-name, backup-value);
}

/*Global Variables*/

:root{
    --variable-name: value;
}

*{
    --value: var(--value);
}
