/** Cursor in CSS */

/* In CSS, the `cursor` property is used to control the appearance of the mouse cursor when
hovers over an element on a web page. This property allows you to customize the cursor to provide
provide visual feedback to the user and communicate the expected behavior of an interactive element.
You can assign different values to the `cursor` property to change the shape or style of the cursor.
Some of the common values include: */

/* 1. **auto**: This is the default value and is used to indicate that the browser should
determine the cursor style. Typically the cursor will be a normal arrow. */

element {
  cursor: auto;
}

/* 2. **pointer**: This value indicates that the cursor should look like a hand, suggesting that the
 element is interactive, like a link or a button. */

to {
  cursor: pointer;
}

/* 3. **default**: This value sets the cursor to its default style, usually an arrow. */

element {
  cursor: default;
}

/* 4. **crosshair**: Changes the cursor to a crosshair, which is often used to indicate that you can
 make a selection or drawing. */

element {
  cursor: crosshair;
}

/* 5. **move**: The cursor changes to a four-headed arrow suggesting that it can be moved one
 element or drag it. */

element {
  cursor: move;
}

/* 6. **text**: Changes the cursor to a text cursor, indicating that the user can type or edit
 content. */

input[type="text"] {
  cursor: text;
}

/* 7. **not-allowed**: This value indicates that the action is not allowed and changes the cursor to a circle
 with a diagonal line through it. */

element {
  cursor: not-allowed;
}

/* These are just some examples of the values you can assign to the `cursor` property in CSS. The
 Choosing the appropriate value depends on the context and the behavior you want to communicate to users.
 users when they interact with elements of your website. You can further customize the appearance
 of the cursor according to your needs and preferences. */
